/* Inter Font Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Shared Styles */

body {
    font-family: "Inter", sans-serif;
}

.text-highlight{
    background: linear-gradient(47.64deg,#F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.badge{
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}


@keyframes smoothBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18px);
  }
}

.mic-bounce {
  animation: smoothBounce 2.8s ease-in-out infinite;
}







/* Navbar Styles */
nav{
    background-color: #1A0B2E;
    border-bottom:  1px solid rgba(65, 37, 103, 1);
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar button,
.banner .spotify-btn{
        background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    
}

button{
    padding: 12px 16px;
    border-radius: 50px;
    font-weight: 500;
    color: white;
    cursor: pointer;

}

.navbar img{
    display: none;
}

.banner{
    background-image: url('./images/hero-bg.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center ;
}

.banner .subscribe{
    color:#00FF88;
}




/* Mobile responsive */

@media screen and (max-width: 576px) {
    
    
    .navbar .hamburger{
        display: block;
    }
    .nav-menu,
    .navbar button{
        display: none;
    }
}